      <div class=" bs-glyphicons col-sm-1 sticky">
        <nav class=" hidden-xs-down bg-faded">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              	<a class="nav-link" href="#">
              		<i class="fa fa-plug fa-rotate-90 fa-4x fa-stack-1x" aria-hidden="true"> </i>  <br> Products
              	</a>
            </li>
            <li class="nav-item">
              	<a class="nav-link" href="Posts">
              		<i class="fa fa-code-fork fa-4x " aria-hidden="true"> </i> <br> Applications
              	</a>
            </li>
            <li class="nav-item">
              	<a class="nav-link" href="drop">
              		<i class="fa fa-cogs fa-spin fa-4x" aria-hidden="true"> </i> <br> Tools
              	</a>
            </li>
            <li class="nav-item">
              	<a class="nav-link" href="drop">
              		<i class="fa fa-plus-square fa-4x" aria-hidden="true"> </i> <br> Supports
              	</a>
            </li>
            <li class="nav-item">
              	<a class="nav-link" href="#">
              		<i class="fa fa-user-circle  fa-4x" aria-hidden="true"> </i> <br> My Boobies
              	</a>
            </li>
          </ul>

          
        </nav>
    </div>