/* You can add global styles to this file, and also import other style files */

/* bootstrap css*/
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 120px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

div#navbarTop  a {
	padding-top: 50px;
}

.bs-glyphicons li {
    float: left;
    width: 10%;
    height: 100px;
/*    padding: 10px;*/
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
}

/*
 * Sidebar
 */

 .sticky {
    position: -webkit-sticky;
    background-color: red;
    position: sticky;
    top: 0;
}

.sidebar {
  position: fixed;
    /*padding-top: 50px;*/
  top: 63px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
